
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/do-connect-capstone-project/.indexes/e4/b9/22/81/70/9c/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/do-connect-capstone-project/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/do-connect-capstone-project/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/do-connect-capstone-project/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/do-connect-capstone-project/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/14.tree
.metadata/.plugins/org.eclipse.core.resources/.root/15.tree
.metadata/.plugins/org.eclipse.core.resources/14.snap
.metadata/.plugins/org.eclipse.core.resources/14.snap
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.log
.metadata/version.ini
