<!-- <table  class="table table-bordered border-dark  table-sm">
    <thead >
        <tr class="table-dark">
            <th>{{user.name}}</th>
            <th>{{name}}</th>
        </tr>
       
    </thead> 
    <tbody ng>
        <tr class = "border border-3  border-dark " *ngFor="let chat of chatData" >
       
            <td class = "border border-3  border-dark "  >{{ chat.message }}</td>
            
           <td class="text-dark border border-3  border-dark" *ngIf="chat.from_user" === {{name}}>
                 <button class = "btn btn-dark"type="button" (click)="onClick(user.name)"> Chat Now</button>
            </td> 
           
        </tr>
    </tbody>
</table> -->