
<div class="chatDisplay">
    <table *ngFor="let chat of chatHistory">
        <tr *ngIf="isCurrentUser(chat.from_user)">
            <td class="sent">{{chat.message}}</td>
            
            <td class="sentDate">{{chat.datetime |date:'short'}}</td>
        </tr>
        <tr *ngIf="isNotCurrentUser(chat.from_user)">
            <td class="receivedDate">{{chat.datetime |date:'short'}}</td>
            
            <td class="received">{{chat.message}}</td>
        </tr>
    </table>
</div>

<div class = "chatCreate">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Send a message:</label>
            <textarea class="form-control" id="createanswer" [(ngModel)]="chatRequest.message"
                name="createanswer"></textarea>
        </div>
        <div>
            <p>Submitting as: {{fromUser.name}}</p>
        </div>


        <button class="btn btn-success" type="submit">Submit Answer</button>
    </form>
</div>

