.myForm{
    border-radius: 20px;
    border: 5px;
    border-style: groove;
    border-color:black;
    background-color: aqua;
    
}

.loginForm{
    height: 40%;
    width: 30%;
    margin: auto;
    outline: 2px solid black;
    
    
}

.gradient-custom {
    /* fallback for old browsers */
    height: 100vh;
    width: 100%;
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
 
  